<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 목록</title>
</head>
<body>
<h2>상품 목록</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>상품 이름</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
<br>
<!-- 관리자만 보이는 버튼 -->
<a href="/admin-home" >
    <button>관리자 홈으로 이동</button>
</a>

</body>
</html>